::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e24;
}

::-webkit-scrollbar-thumb {
  background: #3f3f40;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.pac-container {
  z-index: 10000 !important;
}

.pac-container {
  background-color: #333 !important;
  border: none !important;
  border-radius: 4px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}

.pac-item {
  color: #fff !important;
  padding: 8px 12px !important;
}

.pac-item:hover {
  background-color: #444 !important;
}

.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black; /* Change this to match your app */
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
}
